:root {
    --color-primary: #1F2937;
    --color-secondary: #3882F6;
    --color-tertiary: #E5E7EB;
    --color-header-text: #F9FAF8;
}

/* Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Changing default font size */
html {
    font-size: 62.5%;
    font-family: Poppins, sans-serif;
}

/* Utility classes */
.container {
    max-width: 1080px;
    margin: 0 auto;
}

/* Header */
header {
    background-color: var(--color-primary);
}

.navbar .logo {
    max-height: 60px;
}

.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px 20px 0;
}

.links {
    list-style-type: none;
    display: flex;
    font-size: 1.7rem;
    gap: 3rem;
}

.links, h1 {
    text-transform: uppercase;
}

a, h1, .hero-text p, button {
    color: var(--color-header-text);
}

a {
    text-decoration: none;
}

.hero {
    display: flex;
    justify-content: space-between;
    padding: 45px 20px;
}

.hero-text {
    line-height: 1.5;
    align-self: center;
    max-width: 40%;
}

.hero-text h1 {
    font-size: 2.3rem;
    font-weight: lighter;
}

.hero-text p {
    font-size: 4rem;
    margin: 15px 0 25px;
    font-weight: bold;
    line-height: 1.2;
}

.shop-buttons {
    margin-top: 35px;
}

.hero-text .shop-buttons > button {
    background-color: var(--color-secondary);
    border: none;
    font-weight: bold;
    font-size: 2rem;
    padding: 10px 20px;
    border-radius: 10px;
    margin-right: 20px;
}

.hero-image {
    max-width: 45%;
    transform: rotate(-1deg);
    padding: 10px;
}

/* Info Section */
.info-section {
    padding: 55px;
}

.info-section h2 {
    text-align: center;
    color: var(--color-primary);
    font-size: 3.6rem;
    text-transform: uppercase;
    font-weight: lighter;
}

.cards {
    display: flex;
    justify-content: center;
    gap: 35px;
    margin-top: 65px;
}

.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    color: var(--color-primary);
    text-align: center;
}

.card .icon {
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--color-header-text);
    background-color: var(--color-secondary);
    border-radius: 50%;
    width: 150px;
    height: 150px;
}

.card h4 {
    font-size: 2rem;
}

.card p {
    font-size: 1.5rem;
}
