:root {
    --color-primary: #1F2937;
    --color-secondary: #3266b9;
    --color-tertiary: #E5E7EB;
    --color-header-text: #F9FAF8;
}

/* Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Changing default font size */
html {
    font-size: 62.5%;
    font-family: Poppins, sans-serif;
}

/* Utility classes */
.container {
    max-width: 1080px;
    margin: 0 auto;
}

/* Header */
header {
    background-color: var(--color-primary);
}

.navbar .logo {
    max-height: 6rem;
}

.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1.5rem 2rem 0;
}

.navbar .links {
    list-style-type: none;
    display: flex;
    font-size: 1.7rem;
    gap: 3rem;
}

.navbar .links, .hero-text h1, button {
    text-transform: uppercase;
}

h1, .hero-text p, button {
    color: var(--color-header-text);
}

a {
    text-decoration: none;
}

.navbar a {
    color: var(--color-header-text);
}

.hero {
    display: flex;
    justify-content: space-between;
    padding: 4.5rem 2rem;
}

.hero-text {
    line-height: 1.5;
    align-self: center;
    max-width: 40%;
}

.hero-text h1 {
    font-size: 2.3rem;
    font-weight: lighter;
}

.hero-text p {
    font-size: 4rem;
    margin: 1.5rem 0 2.5rem;
    font-weight: bold;
    line-height: 1.2;
}

.hero .shop-buttons {
    margin-top: 3.5rem;
}

button {
    background-color: var(--color-secondary);
    border: none;
    /* font-weight: bold; */
    font-size: 2rem;
    padding: 0.5em 1em;
    border-radius: 2rem;
    margin-right: 2rem;
}

.hero .hero-image {
    max-width: 45%;
    transform: rotate(-1deg);
    padding: 1rem;
}

/* Info section */
.info-section {
    padding: 5.5rem;
}

.info-section h2 {
    text-align: center;
    color: var(--color-primary);
    font-size: 3.6rem;
    text-transform: uppercase;
    font-weight: lighter;
}

.info-section .cards {
    display: flex;
    justify-content: center;
    gap: 3.5rem;
    margin-top: 6.5rem;
}

.info-section .cards .card {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    color: var(--color-primary);
    text-align: center;
}

.info-section .cards .card .icon {
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--color-header-text);
    background-color: var(--color-secondary);
    border-radius: 50%;
    width: 15rem;
    height: 15rem;
}

.info-section .cards .card h4 {
    font-size: 2rem;
}

.info-section .cards .card p {
    font-size: 1.5rem;
}

/* Inspiration section */
.inspiration-section {
    background-color: var(--color-tertiary);
    color: var(--color-primary);
}

.inspiration-section .quote {
    display: flex;
    align-items: center;
    gap: 5rem;
    padding: 5.5rem 0;
    margin: 0 5.5rem;
    border-bottom: 1px double #1f293712;
}

.inspiration-section img {
    max-width: 20%;
    border-radius: 50%;
}

.inspiration-section blockquote {
    font-size: 3.6rem;
    font-weight: lighter;
    font-style: italic;
}

.inspiration-section blockquote p::before {
    content: open-quote;
}

.inspiration-section blockquote p::after {
    content: close-quote;
}

.inspiration-section blockquote p::before,
.inspiration-section blockquote p::after {
    font-size: 4rem;
    padding: 0 1rem;

}

.inspiration-section figcaption {
    font-size: 2rem;
    text-align: right;
    padding-right: 2.5rem;
}

.inspiration-section .cards {
    display: flex;
    justify-content: center;
    gap: 8.5rem;
    padding: 6.5rem 5.5rem;
}

.inspiration-section .cards .card {
    flex-basis: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 3.5rem;
    background-color: var(--color-header-text);
    padding: 3rem 0 0;
    text-align: center;
    border-radius: 1rem;
    color: var(--color-primary);
    justify-content: space-between;
}

.inspiration-section .cards .card h3 {
    font-size: 1.7rem;
    text-transform: uppercase;
    max-width: 55%;
    line-height: 1.5;
}

.inspiration-section .cards .card a {
    color: inherit;
    font-size: 1.5rem;
    font-weight: lighter;
    width: 100%;
    background-color: var(--color-primary);
    color: var(--color-header-text);
    padding: 1.5rem;
    border-radius: 0 0 1rem 1rem;
}

.inspiration-section .cards .card a::after {
    font-family: "Font Awesome 5 Free";
    font-weight: 600;
    content: "\f061";
    font-size: 1.7rem;
    padding-left: 1rem;
}

/* CTA-section */
.cta-section {
    display: flex;
    padding: 7.5rem 5.5rem 9.5rem;
    justify-content: space-between;
    line-height: 1.35;
}

.cta-section .cta-text {
    color: var(--color-primary);
    align-self: center;
    text-align: center;
    max-width: 40%;
}

.cta-section .cta-text h2 {
    font-size: 2rem;
    font-weight: lighter;
    text-transform: uppercase;
}

.cta-section .cta-text p {
    font-size: 2.3rem;
    margin: 1.5rem 0 3.5rem;
    font-weight: bold;
}

.cta-section .cta-text button {
    padding: 1rem 3rem;
}

.cta-section .cta-image {
    max-width: 50%;
    padding-right: 2rem;
    transform: rotate(-1deg);
}

/* Footer */
footer {
    background-color: var(--color-primary);
}

footer .container {
    display: flex;
    justify-content: space-between;
    padding: 2.5rem 6.5rem;
}

footer .links {
    display: flex;
    list-style-type: none;
    gap: 2rem;
}

footer .links a, footer p {
    color: var(--color-header-text);
    font-size: 1.5rem;
}
